version: "3.2"
services:
  flask:
    build: .
    restart: always
    ports:
      - 81:5000
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    command: ["flask", "run"]
    volumes:
      - .:/home/myuser