{% extends "base.html" %}
{% block content %}

    <div class="title-header">
        <h1>ABOUT</h1>
        {#        <div class="logo-div"><img src="../../static/images/dockerlogo.svg" class="logo-img" alt=""></div>#}
        {#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut blanditiis consectetur dicta, incidunt#}
        {#            laboriosam magni modi necessitatibus obcaecati quis totam voluptates! Amet doloribus et nesciunt, possimus#}
        {#            ullam vitae voluptate!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut blanditiis#}
        {#            consectetur dicta, incidunt#}
        {#            laboriosam magni modi necessitatibus obcaecati quis totam voluptates! Amet doloribus et nesciunt, possimus#}
        {#            ullam vitae voluptateLorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut blanditiis#}
        {#            consectetur dicta, incidunt#}
        {#            laboriosam magni modi necessitatibus obcaecati quis totam voluptates! Amet doloribus et nesciunt, possimus#}
        {#            ullam vitae voluptate</p>#}
    </div>



    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


        <main class="px-3">
            <h1>Francisco Hans Alarco</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
                the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-blue">Learn more</a>
            </p>
        </main>

              <hr class="featurette-divider">

    </div>


    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Who Am I?</h3>
        <img src="https://images.theconversation.com/files/378097/original/file-20210111-23-bqsfwl.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop" style="display:inline" alt="Bird" width="350"
             height="350">
        <h3>I'm an adventurer</h3>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">What Am I?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. </p>
        <a href="#" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
    </div>

      <hr class="featurette-divider">

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">Where To Find Me?</h3><br>
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <img src="https://thoughtcatalog.com/wp-content/uploads/2014/04/shutterstock_144112840.jpg?resize=640,456" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <img src="https://talinedv.files.wordpress.com/2018/06/fundaciocc81ncarlosslim.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <img src="https://www.yourworkoutbook.com/wp-content/uploads/2013/06/Become-Unstoppable-How-to-Make-Working-Out-a-Habit.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>

            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <img src="https://i0.wp.com/fox8.com/wp-content/uploads/sites/12/2021/05/GettyImages-1300072335.jpg?w=2000&ssl=1" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
        </div>
              <hr class="featurette-divider">
    </div>
{% endblock %}