{% extends "base.html" %}
{% block content %}
    <div class="title-header">
        <h1>CI/CD</h1>
        <div class="logo-div"><img src="../../static/images/cicdlogo.svg" class="logo-img" alt=""></div>
        <p>CI/CD is a method to frequently deliver apps to customers by introducing automation into the stages of app
            development. The main concepts attributed to CI/CD are continuous integration, continuous delivery, and
            continuous deployment. Specifically, CI/CD introduces ongoing automation and continuous monitoring
            throughout the lifecycle of apps, from integration and testing phases to delivery and deployment. Taken
            together, these connected practices are often referred to as a "CI/CD pipeline" and are supported by
            development and operations teams working together in an agile way with either a DevOps or site reliability
            engineering (SRE) approach.</p>
    </div>

    <hr class="featurette-divider">  <!-- /Section 1 -->

    <div class="sections">
        <div class="row featurette">
            <div class="col-md-10">
                <h2 class="featurette-heading">Github Actions. <span
                        class="text-muted">Automating the Process.</span></h2>
                <p class="lead">GitHub Actions is a continuous integration and continuous delivery (CI/CD) platform that
                    allows you to automate your build, test, and deployment pipeline. You can create workflows that
                    build and test every pull request to your repository, or deploy merged pull requests to
                    production.</p>
                <p class="lead">
                    Project 1 is setup using Gitub actions by configuring a workflow that is triggered when an event
                    occurs. such as a push or, pull request. The workflow contains one or more jobs which can run in
                    either sequential order or in parallel.
                </p>
            </div>
            <div class="col-md-12">
                <div class="section-img"><img
                        src="https://images.contentstack.io/v3/assets/blt300387d93dabf50e/blt4aeae2e1a9667276/5bec093e7971bb6f0bd748d5/github-actions-gitops.png" alt=""></div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider"> <!-- /Section 2 -->

    <div class="sections">
        <div class="row featurette">
            <div class="col-md-10">
                <h2 class="featurette-heading">Committing the change. <span
                        class="text-muted">The setup.</span></h2>
                <p class="lead">The way Git branches is incredibly lightweight, making
                    branching operations nearly instantaneous, and switching back and forth between branches
                    generally just as
                    fast. Git encourages workflows that branch and merge often, even multiple times in a
                    day. Understanding and mastering this feature gives you a powerful and unique tool and can
                    entirely change
                    the way that you develop. Git doesn’t store data as a series of changesets or differences, but
                    instead as a
                    series of snapshots.</p>
            </div>
            <div class="col-md-12">
                <div class="section-img"><img src="https://miro.medium.com/max/1204/1*OqKfKe3mqCRbaWT2Y8YDOQ.png"
                                              alt=""></div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider"> <!-- /Section 3 -->

    <div class="sections">
        <div class="row featurette">
            <div class="col-md-10">
                <h2 class="featurette-heading">Repositories. <span
                        class="text-muted">Saving versions of your work.</span></h2>
                <p class="lead">A repository contains all of your project's files and each file's revision
                    history. You can discuss and manage your project's work within the repository. You can own
                    repositories individually, or you can share ownership of repositories with other people in
                    an organization or collaboration.</p>
            </div>
            <div class="col-md-12">
                <div class="section-img"><img
                        src="https://backlog.com/app/themes/backlog-child/assets/img/guides/git/basics/creating_a_repository_001.png"
                        alt=""></div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider"> <!-- /Section 4 -->

    <div class="sections">
        <div class="row featurette">
            <div class="col-md-10">
                <h2 class="featurette-heading">Tags. <span
                        class="text-muted">Marking different points.</span></h2>
                <p class="lead">Git Tags are specific reference points in the Git history. Git tags are used to capture
                    the specific point in the history that is further used to point to a released version. A tag does
                    not change like a branch. They don’t have a further history of commits after being created. Most
                    people use this feature to mark some release points like (v1.0,…v4.0, and so on). In simple words,
                    Git Tags are used to give some meaningful name to a particular in the git project repository.
                    Suppose two users decide to tag their project code for access later.</p>
            </div>
            <div class="col-md-12">
                <div class="section-img"><img src="https://i.stack.imgur.com/EwBtF.jpg" alt=""></div>
            </div>
        </div>
    </div><!-- /.container -->

    <!-- /END THE FEATURETTES -->

    <hr class="featurette-divider">

{% endblock %}