{% extends "base.html" %}
{% block content %}

    <div class="title-header">
        <h1>GIT</h1>
        <div class="logo-div"><img src="../../static/images/gitlogo.svg" class="logo-img" alt=""></div>
        <p>Git is version control technology that helps track, review, and approve changes in collaboration with other
            people. Git's branching model means that we can diverge from the main line of development and continue to
            work without messing with that main line, hence using a development version that would later be integrated
            to the master or production version of the project. When you make a commit, Git stores a commit object that
            contains a pointer to the
            snapshot of the content you staged. This object also contains the author’s name and email address, the
            message that you typed, and pointers to the commit or commits that directly came before this commit (its
            parent or parents).</p>
    </div>

    <hr class="featurette-divider">  <!-- /Section 1 -->

    <div class="sections">
        <div class="row featurette">
            <div class="col-md-10">
                <h2 class="featurette-heading">Branching. <span
                        class="text-muted">Working on different versions.</span></h2>
                <p class="lead">The way Git branches is incredibly lightweight, making
                    branching operations nearly instantaneous, and switching back and forth between branches generally
                    just as
                    fast. Git encourages workflows that branch and merge often, even multiple times in a
                    day. Understanding and mastering this feature gives you a powerful and unique tool and can entirely
                    change
                    the way that you develop. Git doesn’t store data as a series of change sets or differences, but
                    instead as a
                    series of snapshots.</p>
            </div>
            <div class="col-md-12">
                <div class="section-img"><img
                        src="https://www.nobledesktop.com/image/gitresources/git-branches-merge.png" alt=""></div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider"> <!-- /Section 2 -->

    <div class="sections">
        <div class="row featurette">
            <div class="col-md-10">
                <h2 class="featurette-heading">Committing the change. <span
                        class="text-muted">The setup.</span></h2>
                <p class="lead">The way Git branches is incredibly lightweight, making
                    branching operations nearly instantaneous, and switching back and forth between branches
                    generally just as
                    fast. Git encourages workflows that branch and merge often, even multiple times in a
                    day. Understanding and mastering this feature gives you a powerful and unique tool and can
                    entirely change
                    the way that you develop. Git doesn’t store data as a series of changesets or differences, but
                    instead as a
                    series of snapshots.</p>
            </div>
            <div class="col-md-12">
                <div class="section-img"><img src="https://miro.medium.com/max/1204/1*OqKfKe3mqCRbaWT2Y8YDOQ.png"
                                              alt=""></div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider"> <!-- /Section 3 -->

    <div class="sections">
        <div class="row featurette">
            <div class="col-md-10">
                <h2 class="featurette-heading">Repositories. <span
                        class="text-muted">Saving versions of your work.</span></h2>
                <p class="lead">A repository contains all of your project's files and each file's revision
                    history. You can discuss and manage your project's work within the repository. You can own
                    repositories individually, or you can share ownership of repositories with other people in
                    an organization or collaboration.</p>
            </div>
            <div class="col-md-12">
                <div class="section-img"><img
                        src="https://backlog.com/app/themes/backlog-child/assets/img/guides/git/basics/creating_a_repository_001.png"
                        alt=""></div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider"> <!-- /Section 4 -->

    <div class="sections">
        <div class="row featurette">
            <div class="col-md-10">
                <h2 class="featurette-heading">Tags. <span
                        class="text-muted">Marking different points.</span></h2>
                <p class="lead">Git Tags are specific reference points in the Git history. Git tags are used to capture
                    the specific point in the history that is further used to point to a released version. A tag does
                    not change like a branch. They don’t have a further history of commits after being created. Most
                    people use this feature to mark some release points like (v1.0,…v4.0, and so on). In simple words,
                    Git Tags are used to give some meaningful name to a particular in the git project repository.
                    Suppose two users decide to tag their project code for access later.</p>
            </div>
            <div class="col-md-12">
                <div class="section-img"><img src="https://i.stack.imgur.com/EwBtF.jpg" alt=""></div>
            </div>
        </div>
    </div><!-- /.container -->

    <!-- /END THE FEATURETTES -->

    <hr class="featurette-divider">



{% endblock %}