{% extends "base.html" %}
{% block content %}

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>
                <img src="../../static/images/gitbackground4.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Git</h1>
                        <p>Software for tracking changes in any set of files, usually used for coordinating work among
                            programmers collaboratively developing source code during software development.</p>
                        <p><a class="btn btn-lg btn-primary" href="/git">Explore</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>
                <img src="../../static/images/dockerbackground1.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Docker</h1>
                        <p>An open platform for developing, shipping, and running applications. Docker enables
                            you to separate your applications from your infrastructure so you can deliver software
                            quickly.</p>
                        <p><a class="btn btn-lg btn-primary" href="/docker">Learn more</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>
                <img src="../../static/images/pythonbackground1.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Python/Flask</h1>
                        <p>A web application framework written in Python or a simply a Web Framework represents a
                            collection of libraries and modules.</p>
                        <p><a class="btn btn-lg btn-primary" href="/python">Learn more</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777"/>
                </svg>
                <img src="../../static/images/cicdbackground2.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>CI/CD</h1>
                        <p>A method to frequently deliver apps to customers by introducing automation into the
                            stages of app development. The main concepts attributed to CI/CD are continuous integration,
                            continuous delivery, and continuous deployment.</p>
                        <p><a class="btn btn-lg btn-primary" href="/cicd">More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <h1>Technologies Learned and Applied</h1>
        <p>Some of The technologies learned in the Web Systems Development class were Git,
            Docker, Python/Flask, and Continuous Integration and Continuous Deployment (CI/CD). Using Pycharm as the
            text editor
            and IDE for developing the application projects, I have tools available to type commands on the terminal,
            and use git commands. I have learned to use version control in order to keep
            better management of the code that I write. I had to reconfigure my laptop in order to enable it to run a
            virtual machine, and use containerization of the application being worked on. I have been able to integrate
            the application being worked on my virtual machine to be pushed onto github where it undergoes a series of
            tests before being sent to the heroku application for production. </p>


        <hr class="featurette-divider">


        <!-- Three columns of text below the carousel -->
        <div class="row topics">
            <div class="col-lg-4">
                {#                <img src="/app/static/images/sample.jpeg">#}
                {#                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"#}
                {#                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"#}
                {#                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>#}
                {#                    <rect width="100%" height="100%" fill="#777"/>#}
                {#                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>#}
                {#                </svg>#}
                <div class="logo-div"><img src="../../static/images/gitlogo.svg" class="logo-img" alt=""></div>
                <h2>Git</h2>
                <p>Git is a DevOps tool used for source code management. It is a free and open-source version control
                    system used to handle small to very large projects efficiently. Git is used to tracking changes in
                    the source code, enabling multiple developers to work together on non-linear development.</p>
                <p><a class="btn btn-secondary" href="/git">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                {#                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"#}
                {#                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"#}
                {#                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>#}
                {#                    <rect width="100%" height="100%" fill="#777"/>#}
                {#                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>#}
                {#                </svg>#}
                <div class="logo-div"><img src="../../static/images/dockerlogo.svg" class="logo-img" alt=""></div>
                <h2>Docker</h2>
                <p>Docker is a software platform for building applications based on containers—small and lightweight
                    execution environments that make shared use of the operating system kernel but otherwise run in
                    isolation from one another.</p>
                <p><a class="btn btn-secondary" href="/docker">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                {#                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"#}
                {#                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"#}
                {#                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>#}
                {#                    <rect width="100%" height="100%" fill="#777"/>#}
                {#                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>#}
                {#                </svg>#}
                <div class="logo-div"><img src="../../static/images/pythonlogo.svg" class="logo-img" alt=""></div>
                <h2>Python/Flask</h2>
                <p>Flask is a micro web framework written in Python. It is classified as a microframework because it
                    does not require particular tools or libraries. It has no database abstraction layer, form
                    validation, or any other components where pre-existing third-party libraries provide common
                    functions. However, Flask supports extensions that can add application features as if they were
                    implemented in Flask itself. Extensions exist for object-relational mappers, form validation, upload
                    handling, various open authentication technologies and several common framework related tools.</p>
                <p><a class="btn btn-secondary" href="/python">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                {#                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"#}
                {#                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"#}
                {#                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>#}
                {#                    <rect width="100%" height="100%" fill="#777"/>#}
                {#                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>#}
                {#                </svg>#}
                <div class="logo-div"><img src="../../static/images/cicdlogo.svg" class="logo-img" alt=""></div>
                <h2>CI/CD</h2>
                <p>CI/CD is a method to frequently deliver apps to customers by introducing automation into the stages
                    of app development. The main concepts attributed to CI/CD are continuous integration, continuous
                    delivery, and continuous deployment. CI/CD is a solution to the problems integrating new code can
                    cause for development and operations teams.</p>
                <p><a class="btn btn-secondary" href="/cicd">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        {#        <hr class="featurette-divider">#}
        {##}
        {#        <div class="row featurette">#}
        {#            <div class="col-md-7">#}
        {#                <h2 class="featurette-heading">First featurette heading. <span#}
        {#                        class="text-muted">It’ll blow your mind.</span></h2>#}
        {#                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting#}
        {#                    prose here.</p>#}
        {#            </div>#}
        {#            <div class="col-md-5">#}
        {#                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"#}
        {#                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"#}
        {#                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>#}
        {#                    <rect width="100%" height="100%" fill="#eee"/>#}
        {#                    <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>#}
        {#                </svg>#}
        {##}
        {#            </div>#}
        {#        </div>#}
        {##}
        {#        <hr class="featurette-divider">#}
        {##}
        {#        <div class="row featurette">#}
        {#            <div class="col-md-7 order-md-2">#}
        {#                <h2 class="featurette-heading">Oh yeah, it’s that good. <span#}
        {#                        class="text-muted">See for yourself.</span></h2>#}
        {#                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how#}
        {#                    this layout would work with some actual real-world content in place.</p>#}
        {#            </div>#}
        {#            <div class="col-md-5 order-md-1">#}
        {#                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"#}
        {#                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"#}
        {#                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>#}
        {#                    <rect width="100%" height="100%" fill="#eee"/>#}
        {#                    <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>#}
        {#                </svg>#}
        {##}
        {#            </div>#}
        {#        </div>#}
        {##}
        {#        <hr class="featurette-divider">#}
        {##}
        {#        <div class="row featurette">#}
        {#            <div class="col-md-7">#}
        {#                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>#}
        {#                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really#}
        {#                    intended to be actually read, simply here to give you a better view of what this would look like#}
        {#                    with some actual content. Your content.</p>#}
        {#            </div>#}
        {#            <div class="col-md-5">#}
        {#                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"#}
        {#                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"#}
        {#                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>#}
        {#                    <rect width="100%" height="100%" fill="#eee"/>#}
        {#                    <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>#}
        {#                </svg>#}
        {##}
        {#            </div>#}
        {#        </div>#}

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


{% endblock %}